@font-face {
  font-family: 'Now';
  src: url('../assets/fonts/now/Now-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('../assets/fonts/now/Now-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
